{% extends 'base.html.twig' %}

{% block title %}Tổng quan {% endblock %}

{% block body %}
        <div class="container">

            <div class="page-inner">
              <div class="page-header">
                <h3 class="fw-bold mb-3">NTTeam</h3>
                <ul class="breadcrumbs mb-3">
                  <li class="nav-home">
                    <a href="#">
                      <i class="icon-home"></i>
                    </a>
                  </li>
                  <li class="separator">
                    <i class="icon-arrow-right"></i>
                  </li>
                  <li class="nav-item">
                    <a href="#">{{room.name}}</a>
                  </li>
                  <li class="separator">
                    <i class="icon-arrow-right"></i>
                  </li>
                  <li class="nav-item">
                    <a href="#">Tổng quan</a>
                  </li>
                </ul>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Thông tin nhóm</h4>
                          </div>
                    </div>
                    
                    <div class="card-body">
                      {{ form_start(form, {'action': path('app_room_overview', {'id': room.id}), 'method': 'POST', 'attr': {'class': 'd-inline', 'id' : 'groupInfoForm',}}) }}
                        <div class="mb-3">
                          <label for="name" class="form-label">Tên nhóm</label>
                          {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                          {{ form_errors(form.name) }}
                        </div>
                        <div class="mb-3">
                            <label for="office" class="form-label">Mật khẩu</label>
                            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.password) }}
                        </div>
                        <div class="mb-3">
                          <label for="office" class="form-label">Mô tả</label>
                          {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows':'5'}}) }}
                          {{ form_errors(form.description) }}
                        </div>
                        <div class="mb-3">
                          <label for="groupLeader" class="form-label">Trưởng nhóm</label>
                          <select class="form-control" id="groupLeader" disabled name="groupLeader">
                          <option value="{{ admin.id }}">{{admin.fullname}}</option>
                          {% for member in members %}
                            <option value="{{member.user.id}}">{{member.user.fullname}}</option>
                            <!-- Add more options as needed -->
                          {% endfor %}
                          </select>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="enableEditing()" id="editButton">Chỉnh sửa</button>
                        <button type="submit" class="btn btn-success d-none" id="saveButton">Lưu</button>
                        <button type="button" class="btn btn-danger d-none" id="cancelButton" onclick="cancelEditing()">Hủy</button>
                      {{form_end(form)}}
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Thông tin công việc</h4>
                            {# <a
                              class="btn btn-primary btn-round ms-auto"
                              href = {{path('app_task_new', {'id': room.id})}}
                            >
                              <i class="fa fa-plus"></i>
                              Thêm công việc mới
                            </a> #}
                            <a
                              class="btn btn-primary btn-round ms-auto"
                              href = {{path('app_room_task', {'id': room.id})}}
                            >
                              <i class="fa fa-eye"></i>
                              Xem thông tin công việc
                            </a>
                            
                          </div>
                    </div>
                    
                    <div class="card-body">
                      <div class="table-responsive">
                        <table
                          id="basic-datatables"
                          class="display table table-striped table-hover"
                        >
                          <thead>
                            <tr>
                              <th>Công việc</th>
                              <th>Đảm nhận</th>
                              <th>Bắt đầu</th>
                              <th>Kết thúc</th>
                              <th>Trạng thái</th>
                              {# <th>Thao tác</th> #}
                            </tr>
                          </thead>
                            <tbody>
                            {% for task in tasks %}
                              <tr>
                                <td>{{task.name}}</td>
                                <td>{{task.member.fullName|default('')}}</td>
                                <td>{{ task.startDate|date('d-m-Y H:i:s') }}</td>
                                <td>{{ task.endDate|date('d-m-Y H:i:s') }}</td>
                                <td>
                                    {{task.statusLabel}}
                                </td>
                                {# <td>
                                    <div class="form-button-action">
                                        <button type="button" data-bs-toggle="tooltip" title="Chỉnh sửa thông tin" class="btn btn-link btn-primary" data-original-title="Edit Task">
                                          <i class="fa fa-edit"></i>
                                          </button>
                                        <button type="button" data-bs-toggle="tooltip" title="Giao người khác" class="btn btn-link btn-primary" data-original-title="Remove">
                                        <i class="fa fa-arrow-right"></i>
                                        </button>
                                        <button type="button" data-bs-toggle="tooltip" title="Xóa công việc" class="btn btn-link btn-danger" data-original-title="Remove">
                                          <i class="fa fa-times"></i>
                                          </button>
                                    </div>
                                </td> #}
                            </tr>
                            {% endfor %}

                          <tfoot>
                            <tr>
                              <th>Tên công việc</th>
                              <th>Người đảm nhận</th>
                              <th>Bắt đầu</th>
                              <th>Kết thúc</th>
                              <th>Trạng thái</th>
                              {# <th>Thao tác</th> #}
                            </tr>
                          </tfoot>
                        <tbody>

                        </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="d-flex align-items-center">
                        <h4 class="card-title">Thông tin thành viên</h4>
                        <a
                              class="btn btn-primary btn-round ms-auto"
                              href= {{path('app_room_member', {'id': room.id})}}
                            >
                              <i class="fa fa-eye"></i>
                              Xem thông tin thành viên
                            </a>
                      </div>
                    </div>
                    <div class="card-body">
  
                      <div class="table-responsive">
                        <table
                          id="add-row"
                          class="display table table-striped table-hover"
                        >
                          <thead>
                            
                            <tr>
                              <th>Tên thành viên</th>
                              <th>Ngày tham gia</th>
                              <th>Số công việc đang tiếp nhận</th>
                              {# <th style="width: 10%">Thao tác</th> #}
                            </tr>
                          </thead>
                          <tbody>
                          {% for memberData in memberWithTasks %}
                            
                            <tr>
                              <td>{{memberData.member.user.getFullName()}}</td>
                              <td>{{memberData.member.joinDate|date('d-m-Y H:i:s')}}</td>
                              <td>{{memberData.taskCount}}</td>
                              
                              {# <td>
                                <div class="form-button-action">
                                  <button
                                    type="button"
                                    data-bs-toggle="tooltip"
                                    title="Xem chi tiết thành viên"
                                    class="btn btn-link btn-primary"
                                  >
                                    <i class="fa fa-eye"></i>
                                  </button>
                                  <button
                                    type="button"
                                    data-bs-toggle="tooltip"
                                    title="Xóa thành viên"
                                    class="btn btn-link btn-danger"
                                    data-original-title="Remove"
                                  >
                                    <i class="fa fa-times"></i>
                                  </button>
                                </div>
                              </td> #}
                              
                            </tr>
                            
                          {% endfor %}
                          </tbody>
                          <tfoot>
                            <tr>
                              <th>Tên thành viên</th>
                              <th>Ngày tham gia</th>
                              <th>Số công việc đang tiếp nhận</th>
                              {# <th>Thao tác</th> #}
                            </tr>
                          </tfoot>
                          <tbody>
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
{% block javascripts %}
<script>
  function enableEditing() {
    document.getElementById('editButton').style.display = "none";
    document.getElementById('room_name').readOnly = false;
    document.getElementById('room_description').readOnly = false;
    document.getElementById('room_password').readOnly = false;
    document.getElementById('groupLeader').disabled = false; // Change readOnly to disabled
    document.getElementById('saveButton').classList.remove('d-none');
    document.getElementById('cancelButton').classList.remove('d-none');
  }

  function cancelEditing() {
    document.getElementById('editButton').style.display = "block";
    document.getElementById('room_name').readOnly = true;
    document.getElementById('room_password').readOnly = true;
    document.getElementById('room_description').readOnly = true;
    document.getElementById('groupLeader').disabled = true; // Change readOnly to disabled
    document.getElementById('saveButton').classList.add('d-none');
    document.getElementById('cancelButton').classList.add('d-none');
  }
</script>
{% endblock javascripts %}