{% extends 'base.html.twig' %}

{% block title %}Nhóm {{room.name}}{% endblock %}

{% block body %}
    <div class="container">
            <div class="page-inner">
              <div class="page-header">
                <h3 class="fw-bold mb-3">NTTeam</h3>
                <ul class="breadcrumbs mb-3">
                  <li class="nav-home">
                    <a href="/">
                      <i class="icon-home"></i>
                    </a>
                  </li>
                  <li class="separator">
                    <i class="icon-arrow-right"></i>
                  </li>
                  <li class="nav-item">
                    <a href="/">Nhóm quản lý </a>
                  </li>
                  <li class="separator">
                    <i class="icon-arrow-right"></i>
                  </li>
                  <li class="nav-item">
                    <a href="{{path('app_room_overview', {'id':room.id})}}">{{room.name}}</a>
                  </li>
                </ul>
              </div>
                {{ form_start(form, {'action': path('app_room_edit', {'id': room.id}), 'method': 'POST', 'attr': {'class': 'd-inline'}}) }}
                  <div class="mb-3">
                    <label for="name" class="form-label">ID nhóm</label>
                    {{ form_widget(form.id, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.id) }}
                  </div>
                  <div class="mb-3">
                    <label for="name" class="form-label">Tên nhóm</label>
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.name) }}
                  </div>
                    <div class="mb-3">
                        <label for="office" class="form-label">Mật khẩu</label>
                        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.password) }}
                    </div>
                  <div class="mb-3">
                    <label for="office" class="form-label">Mô tả</label>
                    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows':'5'}}) }}
                    {{ form_errors(form.description) }}
                  </div>
                  <div class="mb-3-md">
                        {# Trở lại trang chính #}
                        <a href="{{ path('app_home') }}" class="btn btn-secondary">Trở lại</a>
                        
                        {# Nút Chỉnh Sửa (Submit Form) #}
                        <button type="submit" class="btn btn-info">Chỉnh sửa</button>
                        
                    </div>
              </div>  
            {{form_end(form)}}
            </div>
            </div>
{% endblock %}
