{# {% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <h1>Task index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Content</th>
                <th>PathAttachment</th>
                <th>ResultContent</th>
                <th>ResultAttachment</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>FinishDate</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.content }}</td>
                <td>{{ task.pathAttachment }}</td>
                <td>{{ task.resultContent }}</td>
                <td>{{ task.resultAttachment }}</td>
                <td>{{ task.startDate ? task.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.endDate ? task.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.finishDate ? task.finishDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.status }}</td>
                <td>
                    <a href="{{ path('app_task_show', {'id': task.id}) }}">show</a>
                    <a href="{{ path('app_task_edit', {'id': task.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_task_new') }}">Create new</a>
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Quản lý công việc{% endblock %}

{% block body %}
        <div class="container">
            <div class="page-inner">
              <div class="page-header">
                <h3 class="fw-bold mb-3">NTTeam</h3>
                <ul class="breadcrumbs mb-3">
                  <li class="nav-home">
                    <a href="#">
                      <i class="icon-home"></i>
                    </a>
                  </li>
                  <li class="separator">
                    <i class="icon-arrow-right"></i>
                  </li>
                  <li class="nav-item">
                    <a href="#">{{room.name}}</a>
                  </li>
                  <li class="separator">
                    <i class="icon-arrow-right"></i>
                  </li>
                  <li class="nav-item">
                    <a href="#">Thông tin công việc</a>
                  </li>
                </ul>
              </div>
              <div class="row">  
                <div class="col-md-12" id="task-info">
                  <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Thông tin công việc</h4>
                            <a
                              class="btn btn-primary btn-round ms-auto"
                              href="{{ path ('app_task_new', {'id': room.id}) }}"
                            >
                              <i class="fa fa-plus"></i>
                              Thêm công việc mới
                            </a>
                          </div>
                    </div>
                    <div class="card-body">
                    <div class="table-responsive">
                      <table
                        id="add-row"
                        class="display table table-striped table-hover"
                      >
                          <thead>
                            <tr>
                              <th>Công việc</th>
                              <th>Đảm nhận</th>
                              <th>Bắt đầu</th>
                              <th>Kết thúc</th>
                              <th>Trạng thái</th>
                            </tr>
                          </thead>
                            <tbody>

                            {% for task in tasks %}
                            <tr data-task='{"name": "Viết báo cáo", "assignee": "Trường Nguyên", "start_date": "01/01/2022", "end_date": "01/02/2022", "status": "Không hoàn thành"}' onclick="postData(this)">
                                <td>{{task.name}}</td>
                                <td>{{task.member.fullName ?? ""}}</td>
                                <td>{{ task.startDate ? task.startDate|date('H:i (d-m-Y) ') : '' }}</td>
                                <td>{{ task.endDate ? task.endDate|date('H:i d-m-Y') : '' }}</td>
                                <td>
                                    {{ task.getStatusLabel() }}
                                </td>
                            </tr>
                            {% endfor %}

                          <tfoot>
                            <tr>
                              <th>Tên công việc</th>
                              <th>Người đảm nhận</th>
                              <th>Bắt đầu</th>
                              <th>Kết thúc</th>
                              <th>Trạng thái</th>
                            </tr>
                          </tfoot>
                        <tbody>

                        </tbody>
                        </table>

                        
                      </div>
                    </div>
                  </div>
                </div>

                
                <!-- khung hien thi chi tiết công việc -->
                <div class="col-md-12" id="task-infor" style ="display:none;">
                  <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Chi tiết thông tin công việc - abc</h4>
                        </div>
                    </div>
                    <div class="card-body">
                      <form class ="row" action="" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label for="name" class="form-label">Tên công việc</label>
                    <input disabled type="text" class="form-control" id="name" name="name" placeholder="Nhập tên công việc">
                  </div>
                  <div class="mb-3">
                    <label for="name" class="form-label">Ngày bắt đầu:</label>
                    <input disabled type="datetime-local" class="form-control" name="startDate">
                  </div>
                  <div class="mb-3">
                    <label for="office" class="form-label">Mô tả</label>
                    <textarea disabled class="form-control" rows="5" name="description" id=""></textarea>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Tệp công việc hiện có:</label><br>
                  </div>

                  <hr class="my-4">

                  <!-- Submission Content Section -->
                  <div class="col-12">
                    <h5>Nội dung nộp</h5>
                    <div class="mb-3">
                      <label for="submissionDescription" class="form-label">Mô tả nội dung công việc đã nộp</label>
                      <textarea class="form-control" rows="5" name="submissionDescription" id="submissionDescription"></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="submissionFiles" class="form-label">Nộp tệp đính kèm</label>
                      <input type="file" name="submissionFiles" class="form-control" multiple>
                    </div>
                  </div>
                  <div class="mb-3-md">
                    <button type="button" class="btn btn-danger" onclick="hideTaskInfo()">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    <button type="submit" class="btn btn-success">Nộp</button>
                  </div>
              </div>
  
            </form>
                    </div>
                  </div>
                </div>
                

              </div>
            </div>
          </div>
{% endblock %}

{% block javascripts %}
  <script>
  // post api
    function postData(row) {
      // const taskData = JSON.parse(row.getAttribute('data-task'));
      // fetch('/your-api-endpoint', {
      //   method: 'POST',
      //   headers: {
      //     'Content-Type': 'application/json'
      //   },
      //   body: JSON.stringify(taskData)
      // })
      // .then(response => response.json())
      // .then(data => {
      //   console.log('Success:', data);
      // })
      // .catch((error) => {
      //   console.error('Error:', error);
      // });
      console.log(row);

      //display detail task frame
      document.getElementById('task-infor').style.display = 'block';
      // scroll to comment section
      document.getElementById('task-infor').scrollIntoView();
    }
    // Ẩn khung chi tiết công việc
      function hideTaskInfo() {
            document.getElementById('task-infor').style.display = 'none';
        }
  </script>
{% endblock %}
