<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock %}</title>
    <meta
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name="viewport"
    />
    <link
      rel="icon"
      href="../assets/img/kaiadmin/favicon.ico"
      type="image/x-icon"
    />

    <!-- Fonts and icons -->
    <script src="{{ asset('assets/js/plugin/webfont/webfont.min.js') }}"></script>
    <script>
      WebFont.load({
        google: { families: ["Public Sans:300,400,500,600,700"] },
        custom: {
          families: [
            "Font Awesome 5 Solid",
            "Font Awesome 5 Regular",
            "Font Awesome 5 Brands",
            "simple-line-icons",
          ],
          urls: ["{{ asset('assets/css/fonts.min.css') }}"],
        },
        active: function () {
          sessionStorage.fonts = true;
        },
      });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/plugins.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/kaiadmin.min.css') }}">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="{{ asset('assets/css/demo.css') }}">
  </head>
  <body>


    <div class="wrapper">
      <!-- Sidebar -->
      <div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="/" class="logo">
              <img
                src="../assets/img/kaiadmin/logo_light.svg"
                alt="navbar brand"
                class="navbar-brand"
                height="20"
              />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>


        <!-- ////////////////////////////DIFFERENCE////////////////////////////// -->
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">

              <!-- Quản lý công việc nhóm tại đây -->
                <li class="nav-item {{app.request.attributes.get('_route') == 'app_home' ? 'active' : ''}}">
                <a data-bs-toggle="collapse" href="#submenu">
                  <i class="fas fa-bars"></i>
                  <p style="font-size: 18px;">Nhóm quản lý</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse {{app.request.attributes.get('_route') != 'app_room_overview_member' and app.request.attributes.get('_route') != 'app_room_attend' ? 'show'}}" id="submenu">
                  <ul class="nav nav-collapse" style="list-style-type: none;">
                  <li class="{{app.request.attributes.get('_route') == 'app_home' ? 'active' }}">
                    <a href="{{path('app_home')}}">
                    <span class="sub-item" style="font-size: 16px;">Xem tất cả nhóm</span>
                    </a>
                  </li>
                  
                  {% set count = 1 %}
                  {% for roomBase in sidebar.room.admin%}
                  {% if room is defined and room.id == roomBase.0.id%}
                  <li class="active">
                    <a data-bs-toggle="collapse" href="#subnav{{ count }}" aria-expanded="true">
                    <span id="roomNameSpan" class="sub-item" title="{{ roomBase.0.name }}" style="font-size: 16px;">{{roomBase.0.name}}</span>
                    <span class="caret"></span>
                    </a>
                    <div class="collapse show" id="subnav{{ count }}">
                    <ul class="nav nav-collapse subnav" style="list-style-type: none;">
                    <li class="{{ app.request.attributes.get('_route') == 'app_room_overview' ? 'active' }}">
                    <a href="{{path('app_room_overview', {'id': roomBase.0.id})}}">
                      <span class="sub-item" style="font-size: 16px;">Tổng quan nhóm</span>
                    </a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'app_room_task' ? 'active' }}">
                    <a href="{{path('app_room_task', {'id': roomBase.0.id})}}">
                      <span class="sub-item" style="font-size: 16px;">Thông tin công việc</span>
                    </a>
                    </li>
                    <li class="{{ app.request.attributes.get('_route') == 'app_room_member' ? 'active' }}">
                    <a href="{{path('app_room_member', {'id': roomBase.0.id})}}">
                      <span class="sub-item" style="font-size: 16px;">Thông tin thành viên</span>
                    </a>
                    </li>
                    </ul>
                    </div>
                  </li>
                  {% else %}
                  <li>
                    <a data-bs-toggle="collapse" href="#subnav{{ count }}">
                    <span id="roomNameSpan" class="sub-item" title="{{ roomBase.0.name }}" style="font-size: 16px;">{{roomBase.0.name}}</span>
                    <span class="caret"></span>
                    </a>
                    <div class="collapse" id="subnav{{ count }}">
                    <ul class="nav nav-collapse subnav" style="list-style-type: none;">
                      <li>
                      <a href="{{path('app_room_overview', {'id': roomBase.0.id})}}">
                        <span class="sub-item" style="font-size: 16px;">Tổng quan nhóm</span>
                      </a>
                      </li>
                      <li>
                      <a href="{{path('app_room_task', {'id': roomBase.0.id})}}">
                        <span class="sub-item" style="font-size: 16px;">Thông tin công việc</span>
                      </a>
                      </li>
                      <li>
                      <a href="{{path('app_room_member', {'id': roomBase.0.id})}}">
                        <span class="sub-item" style="font-size: 16px;">Thông tin thành viên</span>
                      </a>
                      </li>
                    </ul>
                    </div>
                  </li>
                  {% endif %}
                  {% set count = count + 1 %}
                  {% endfor %}

                  </ul>
                </div>
                </li>
                <li class="nav-item {{app.request.attributes.get('_route') == 'app_room_attend' or app.request.attributes.get('_route') == 'app_room_overview_member' ? 'active' : ''}}">
                <a data-bs-toggle="collapse" href="#tables">
                  <i class="fas fa-table"></i>
                  <p style="font-size: 18px;">Các nhóm tham gia</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse {{app.request.attributes.get('_route') == 'app_room_overview_member' or app.request.attributes.get('_route') == 'app_room_attend' ? 'show'}}" id="tables">
                  <ul class="nav nav-collapse" style="list-style-type: none;">
                  <li class="{{app.request.attributes.get('_route') == 'app_room_attend' ? 'active' }}">
                    <a href="{{path('app_room_attend')}}">
                    <span class="sub-item" style="font-size: 16px;">Tham gia nhóm mới</span>
                    </a>
                  </li>

                  {% for roomBase in sidebar.room.member%}
                    {% if room is defined and roomBase.0.id == room.id %}
                    <li class="active">
                    <a href="{{path('app_room_overview_member', {'id': roomBase.0.id})}}">
                      <span class="sub-item" style="font-size: 16px;">{{ roomBase.0.name }}</span>
                    </a>
                    </li>
                    {% else %}
                    <li>
                        <li>
                        <a href="{{path('app_room_overview_member', {'id': roomBase.0.id})}}">
                          <span class="sub-item">{{ roomBase.0.name }}</span>
                        </a>
                      </li>
                      {% endif %}

                    {% endfor %}


                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>


      </div>
      <!-- End Sidebar -->
      <!-- ////////////////////////////////////////////////////////////// -->

      <div class="main-panel">
        <div class="main-header">
          <div class="main-header-logo">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="dark">
              <a href="../index.html" class="logo">
                <img
                  src="../assets/img/kaiadmin/logo_light.svg"
                  alt="navbar brand"
                  class="navbar-brand"
                  height="20"
                />
              </a>
              <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                  <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                  <i class="gg-menu-left"></i>
                </button>
              </div>
              <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
              </button>
            </div>
            <!-- End Logo Header -->
          </div>
          <!-- Navbar Header -->
          <nav
            class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
          >
            <div class="container-fluid">
              <nav
                class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex"
              >
              </nav>

              <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                <li
                  class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none"
                >
                  <a
                    class="nav-link dropdown-toggle"
                    data-bs-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-expanded="false"
                    aria-haspopup="true"
                  >
                    <i class="fa fa-search"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-search animated fadeIn">
                    <form class="navbar-left navbar-form nav-search">
                      <div class="input-group">
                        <input
                          type="text"
                          placeholder="Search ..."
                          class="form-control"
                        />
                      </div>
                    </form>
                  </ul>
                </li>
                

                <li class="nav-item topbar-user dropdown hidden-caret">
                  <a
                    class="dropdown-toggle profile-pic"
                    data-bs-toggle="dropdown"
                    href="#"
                    aria-expanded="false"
                  >
                    <span class="profile-username">
                      <span class="op-7">Chào,</span>
                      <span class="fw-bold">{{app.user?app.user.firstname:''}}</span>
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-user animated fadeIn">
                    <div class="dropdown-user-scroll scrollbar-outer">
                      <li>
                        <div class="user-box">
                          <div class="u-text">
                            <h4>{{app.user ? app.user.lastname : ''}} {{ app.user ? app.user.firstname :''}}</h4>
                            <p class="text-muted">{{app.user? app.user.email:''}}</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/profile">Cài đặt tài khoản</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/{{app.user ? 'logout' : ''}}">Đăng xuất</a>
                      </li>
                    </div>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
          <!-- End Navbar --> 
        </div>

        <!-- /////////////////////////////////DIFFERENCE////////////////////////////// -->
        {% block body%}
        {% endblock %}
        <!-- //////////////////////////////////////////////////////////////////////// -->
        
      <!-- End Custom template -->
    </div>
    <!--   Core JS Files   -->
    <script src="{{ asset('assets/js/core/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/core/popper.min.js') }}"></script>
    <script src="{{ asset('assets/js/core/bootstrap.min.js') }}"></script>

    <!-- jQuery Scrollbar -->
    <script src="{{ asset('assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js') }}"></script>
    <!-- Datatables -->
    <script src="{{ asset('assets/js/plugin/datatables/datatables.min.js') }}"></script>
    <!-- Kaiadmin JS -->
    <script src="{{ asset('assets/js/kaiadmin.min.js') }}"></script>
    <script>

      $(document).ready(function () {
        $("#basic-datatables").DataTable({});

        $("#multi-filter-select").DataTable({
          pageLength: 5,
          initComplete: function () {
            this.api()
              .columns()
              .every(function () {
                var column = this;
                var select = $(
                  '<select class="form-select"><option value=""></option></select>'
                )
                  .appendTo($(column.footer()).empty())
                  .on("change", function () {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());

                    column
                      .search(val ? "^" + val + "$" : "", true, false)
                      .draw();
                  });

                column
                  .data()
                  .unique()
                  .sort()
                  .each(function (d, j) {
                    select.append(
                      '<option value="' + d + '">' + d + "</option>"
                    );
                  });
              });
          },
        });

        // Add Row
        $("#add-row").DataTable({
          pageLength: 5,
        });

        
      });


    </script>
  </body>
</html>
{% block javascripts %}
<script>
</script>
{% endblock %}
